<nav class="navbar navbar-light bg-light nav  nav-pills justify-content-center">
    <a class="nav-link active" id="accueil" href="#">Accueil</a>
    <a class="nav-link" id="speakers-list-id" href="#speakers-list">Speakers</a>
    <a class="nav-link" id="sessions-list-id" href="#sessions-list">Sessions</a>
</nav>
<div class="container">
    <section id="main-view">
        Ici le contenu principal en attente de chargement
    </section>
</div>
<footer class="navbar navbar-light bg-light">Nouveau pied de page</footer>